@using DataAccess.Models
@model Product

<div class="container">
    <div class="row">
        <h2>Create New Product</h2>
    </div>
    @*FormTagHelper*@
    <form asp-controller="Product" asp-action="Create" method="post" class="row g-3">
        <div class="col-md-6">
       @*     <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" name="Name">*@
            <label asp-for="Name"  for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div class="col-md-6">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price"type="number" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="ImagePath" class="form-label">Image Path</label>
            <input asp-for="ImagePath" type="text" class="form-control" >
        </div>
         <div class="col-md-6">
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.ListCategory" class="form-select">
               
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

</div>

            @*HTMLTagHelper*@